<!DOCTYPE html>
<html lang="lv">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, minimal-ui, viewport-fit=cover, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <style lang="">
      #loader {
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: #fff;
}
    </style>

    <script>
      window.__sizing = '<%= htmlWebpackPlugin.options.sizing %>';
    </script>
</head>

<body>
  <div class="contain">
    <div class="svg-contain">
      <svg width="564" height="406" viewBox="0 0 564 406" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M122.098 292.301H124.698L114.798 324.701C112.198 332.801 105.598 334.601 99.6984 334.601L30.6984 329.301L26.7984 334.101L24.3984 332.301L129.298 203.201L60.0984 203.001L53.0984 224.201H50.6984L59.1984 187.601L61.3984 186.501C101.698 188.701 125.298 189.601 132.998 189.601C140.198 189.601 141.798 188.501 144.198 186.101L146.398 187.401L41.7984 315.801L112.298 319.301L122.098 292.301Z" fill="#1D1E1C"/>
        <path d="M154.998 328.9L169.498 330.2L169.098 332.6H124.398L124.798 330.2L139.298 328.7L168.198 191.6L153.698 190.3L154.098 187.7H182.598L184.598 189.5L154.998 328.9Z" fill="#1D1E1C"/>
        <path d="M275.9 220.101H273.5C272.6 209.201 271.5 199.701 269.6 190.301H232.2L218.5 254.201L258.4 253.801L257.3 257.501L217.9 256.601L202.7 328.201L241.2 330.201C249.5 319.701 257.4 309.001 265.1 297.801H267.5L255.7 332.601H188L186.5 330.601L216.1 191.501L201.4 190.201L201.8 187.601H285.7L275.9 220.101Z" fill="#1D1E1C"/>
        <path d="M379.897 200.1C379.897 217.4 368.997 252.2 332.397 262.5H308.997L294.997 328.6L313.397 330.1L312.997 332.5H280.597L278.797 330.5L308.597 191.401L293.897 190.1L294.297 187.5H335.697C365.197 188.3 379.897 195.5 379.897 200.1ZM363.897 199.701C363.897 196.901 353.197 190.701 331.297 190.301H324.297L309.597 259.901H331.897C353.597 252.001 363.897 214.601 363.897 199.701Z" fill="#1D1E1C"/>
        <path d="M466.4 220.101H464C463.1 209.201 462 199.701 460.1 190.301H422.7L409 254.201L448.9 253.801L447.8 257.501L408.4 256.601L393.2 328.201L431.7 330.201C440 319.701 447.9 309.001 455.6 297.801H458L446.2 332.601H378.5L377 330.601L406.6 191.501L391.9 190.201L392.3 187.601H476.2L466.4 220.101Z" fill="#1D1E1C"/>
        <path d="M498.997 217.6C498.997 224.6 546.697 282 546.697 290.3C546.697 312.4 528.097 334.3 497.197 334.3C485.797 334.3 471.097 330.1 462.797 326L471.297 310.9L505.897 330.6C524.097 327.5 533.697 314.2 533.697 300.2C533.697 292.3 485.997 235.6 485.997 227.3C485.997 204.7 503.097 185.9 531.997 185.9C542.697 185.9 552.597 188.5 562.897 192.9L554.597 205.8L521.497 189.6C507.597 192.7 498.997 204.3 498.997 217.6Z" fill="#1D1E1C"/>
        <path d="M36.2 42.3001C36.2 49.3001 83.9 106.7 83.9 115C83.9 137.1 65.3 159 34.4 159C23 159 8.3 154.8 0 150.7L8.5 135.6L43.1 155.3C61.3 152.2 70.9 138.9 70.9 124.9C70.9 117 23.2 60.3001 23.2 52.0001C23.2 29.4001 40.3 10.6001 69.2 10.6001C79.9 10.6001 89.8 13.2001 100.1 17.6001L91.8 30.5001L58.7 14.3001C44.7 17.3001 36.2 28.9001 36.2 42.3001Z" fill="#1D1E1C"/>
        <path d="M108.901 154.4L123.101 154.2V156.4L94.8008 159L93.3008 157L125.501 4.8L112.101 4.6L112.301 2.39999L139.901 0L141.201 1.5L108.901 154.4Z" fill="#1D1E1C"/>
        <path d="M172.2 55.2001L151.2 154.6L164.7 154.2L164.5 156.4L137.3 159.2L136 157.2L157 58.4001L143 58.2001L143.2 56.0001L170.8 53.6001L172.2 55.2001ZM180.9 24.1001C180.9 29.8001 177.4 35.7001 170.4 35.7001C164 35.7001 160.8 31.5001 160.8 26.3001C160.8 21.3001 164.5 15.1001 171.5 15.1001C175.4 15.1001 180.9 17.5001 180.9 24.1001Z" fill="#1D1E1C"/>
        <path d="M322.8 69.6999L305.1 154.5L318.2 154.3V156.5L290.6 159.1L289.3 157.3L307 74.0999C307.7 70.9999 297.1 66.3999 288.2 66.3999C286 66.3999 266.1 101.7 253.8 131.2L248.1 157L233 158.3L251 73.9999C251.7 70.8999 241.1 66.2999 232.4 66.2999C230 66.2999 210.1 101.8 197.6 131.3L192.1 156.9L177 158.2L198.2 57.8999H184.8L185 55.6999L212.8 53.2999L214.1 55.0999L199 119.5H200.3C215.2 88.1999 233.8 52.8999 238 52.8999C255.3 52.8999 268.2 61.8999 266.7 69.4999L261.2 95.7999L254.8 120.1H255.9C271 88.5999 289.6 52.8999 293.8 52.8999C311.4 52.9999 324.4 61.9999 322.8 69.6999Z" fill="#1D1E1C"/>
        <path d="M349.302 117.4C348.402 123.8 347.802 129.9 347.802 135.6C347.802 139.8 362.702 146.1 377.102 146.1C383.202 146.1 389.402 141.9 396.402 131.6L398.202 132.7C390.102 147.4 381.802 159 371.002 159C354.802 159 331.102 152.4 331.102 142.8C331.102 99.7 352.802 53 379.902 53C394.402 53 411.702 61.1 411.702 69C411.702 72.1 409.902 79.7 406.902 91.3L349.302 117.4ZM349.802 115L391.602 95.5C394.402 85.2 397.302 71.2 397.302 67.9C397.302 63.3 388.102 55.9 377.402 55.9C367.702 55.9 354.602 87 349.802 115Z" fill="#1D1E1C"/>
        <path d="M0.800781 395.9V376.3H3.80078V379.9H4.00078C4.40078 379 5.00078 378.1 5.90078 377.4C6.80078 376.7 8.10078 376.3 9.70078 376.3H10.9008V379.3H9.10078C7.50078 379.3 6.20078 379.6 5.20078 380.2C4.30078 380.8 3.80078 381.6 3.80078 382.5V395.8L0.800781 395.9Z" fill="#1D1E1C"/>
        <path d="M28.8992 395.9C27.7992 395.9 26.8992 395.6 26.3992 395C25.8992 394.4 25.5992 393.6 25.4992 392.7H25.2992C24.8992 393.9 24.1992 394.8 23.1992 395.4C22.1992 396 20.9992 396.3 19.6992 396.3C17.5992 396.3 15.9992 395.8 14.8992 394.7C13.6992 393.6 13.1992 392.2 13.1992 390.4C13.1992 388.6 13.8992 387.1 15.1992 386.1C16.5992 385.1 18.6992 384.6 21.4992 384.6H25.3992V382.7C25.3992 381.3 24.9992 380.2 24.2992 379.5C23.4992 378.8 22.3992 378.4 20.7992 378.4C19.5992 378.4 18.5992 378.7 17.7992 379.2C16.9992 379.7 16.2992 380.4 15.7992 381.3L13.9992 379.6C14.4992 378.5 15.3992 377.6 16.4992 376.9C17.6992 376.2 19.0992 375.8 20.8992 375.8C23.2992 375.8 25.0992 376.4 26.3992 377.5C27.6992 378.7 28.3992 380.3 28.3992 382.4V393.2H30.6992V395.9H28.8992ZM20.1992 393.8C20.9992 393.8 21.6992 393.7 22.2992 393.5C22.8992 393.3 23.4992 393.1 23.8992 392.7C24.3992 392.4 24.6992 392 24.9992 391.6C25.2992 391.2 25.3992 390.7 25.3992 390.2V387H21.3992C19.6992 387 18.3992 387.3 17.5992 387.8C16.7992 388.3 16.3992 389 16.3992 390V390.8C16.3992 391.8 16.6992 392.5 17.3992 393C18.0992 393.5 18.9992 393.8 20.1992 393.8Z" fill="#1D1E1C"/>
        <path d="M46.8 392.8C45.5 395.2 43.6 396.4 41 396.4C39.8 396.4 38.7 396.2 37.7 395.7C36.7 395.2 35.9 394.5 35.2 393.6C34.5 392.7 34 391.6 33.6 390.4C33.2 389.1 33 387.7 33 386.1C33 384.5 33.2 383.1 33.6 381.8C34 380.5 34.5 379.5 35.2 378.6C35.9 377.7 36.7 377 37.7 376.5C38.7 376 39.8 375.8 41 375.8C42.4 375.8 43.5 376.1 44.5 376.7C45.5 377.3 46.2 378.2 46.7 379.4H46.9V367.7H49.9V395.8H46.9V392.8H46.8ZM41.8 393.7C42.5 393.7 43.1 393.6 43.8 393.4C44.4 393.2 45 393 45.4 392.6C45.8 392.2 46.2 391.8 46.5 391.3C46.8 390.8 46.9 390.2 46.9 389.6V382.3C46.9 381.8 46.8 381.3 46.5 380.8C46.2 380.3 45.9 379.9 45.4 379.6C44.9 379.3 44.4 379 43.8 378.8C43.2 378.6 42.5 378.5 41.8 378.5C40.1 378.5 38.7 379 37.7 380.1C36.7 381.2 36.2 382.6 36.2 384.4V387.8C36.2 389.6 36.7 391 37.7 392.1C38.7 393.1 40 393.7 41.8 393.7Z" fill="#1D1E1C"/>
        <path d="M56.9016 371.7C56.2016 371.7 55.8016 371.5 55.5016 371.2C55.2016 370.9 55.1016 370.5 55.1016 370V369.5C55.1016 369 55.2016 368.6 55.5016 368.3C55.8016 368 56.3016 367.8 56.9016 367.8C57.6016 367.8 58.0016 368 58.3016 368.3C58.6016 368.6 58.7016 369 58.7016 369.5V370C58.7016 370.5 58.6016 370.9 58.3016 371.2C58.0016 371.5 57.6016 371.7 56.9016 371.7ZM55.4016 376.3H58.4016V395.9H55.4016V376.3Z" fill="#1D1E1C"/>
        <path d="M73.9023 376.3H76.9023V379.5H77.1023C77.6023 378.3 78.3023 377.4 79.3023 376.8C80.3023 376.2 81.4023 375.9 82.8023 375.9C84.0023 375.9 85.1023 376.1 86.1023 376.6C87.1023 377.1 87.9023 377.8 88.6023 378.7C89.3023 379.6 89.8023 380.7 90.2023 381.9C90.6023 383.1 90.8023 384.6 90.8023 386.2C90.8023 387.8 90.6023 389.2 90.2023 390.5C89.8023 391.8 89.3023 392.8 88.6023 393.7C87.9023 394.6 87.1023 395.3 86.1023 395.8C85.1023 396.3 84.0023 396.5 82.8023 396.5C80.1023 396.5 78.2023 395.3 77.1023 392.9H76.9023V403.7H73.9023V376.3ZM81.9023 393.7C83.6023 393.7 85.0023 393.2 86.0023 392.1C87.0023 391 87.5023 389.6 87.5023 387.8V384.4C87.5023 382.6 87.0023 381.2 86.0023 380.1C85.0023 379 83.7023 378.5 81.9023 378.5C81.2023 378.5 80.6023 378.6 79.9023 378.8C79.3023 379 78.7023 379.3 78.3023 379.6C77.8023 379.9 77.5023 380.3 77.2023 380.8C76.9023 381.3 76.8023 381.8 76.8023 382.3V389.6C76.8023 390.2 76.9023 390.8 77.2023 391.3C77.5023 391.8 77.8023 392.2 78.3023 392.6C78.8023 393 79.3023 393.2 79.9023 393.4C80.6023 393.6 81.3023 393.7 81.9023 393.7Z" fill="#1D1E1C"/>
        <path d="M95.1992 395.9V376.3H98.1992V379.9H98.3992C98.7992 379 99.3992 378.1 100.299 377.4C101.199 376.7 102.499 376.3 104.099 376.3H105.299V379.3H103.499C101.899 379.3 100.599 379.6 99.5992 380.2C98.6992 380.8 98.1992 381.6 98.1992 382.5V395.8L95.1992 395.9Z" fill="#1D1E1C"/>
        <path d="M110.202 371.7C109.502 371.7 109.102 371.5 108.802 371.2C108.502 370.9 108.402 370.5 108.402 370V369.5C108.402 369 108.502 368.6 108.802 368.3C109.102 368 109.602 367.8 110.202 367.8C110.902 367.8 111.302 368 111.602 368.3C111.902 368.6 112.002 369 112.002 369.5V370C112.002 370.5 111.902 370.9 111.602 371.2C111.302 371.5 110.902 371.7 110.202 371.7ZM108.702 376.3H111.702V395.9H108.702V376.3Z" fill="#1D1E1C"/>
        <path d="M124.8 396.4C123.5 396.4 122.2 396.2 121.2 395.7C120.1 395.2 119.2 394.5 118.4 393.6C117.6 392.7 117 391.6 116.6 390.4C116.2 389.2 116 387.7 116 386.2C116 384.7 116.2 383.2 116.6 382C117 380.7 117.6 379.7 118.4 378.8C119.2 377.9 120.1 377.2 121.2 376.7C122.3 376.2 123.5 376 124.8 376C126.1 376 127.3 376.2 128.3 376.7C129.3 377.2 130.2 377.8 131 378.7C131.7 379.5 132.3 380.5 132.7 381.7C133.1 382.9 133.3 384.1 133.3 385.5V386.9H119.2V387.8C119.2 388.6 119.3 389.4 119.6 390.1C119.9 390.8 120.2 391.4 120.7 392C121.2 392.5 121.8 393 122.5 393.3C123.2 393.6 124 393.8 125 393.8C126.2 393.8 127.3 393.5 128.2 392.9C129.1 392.3 129.8 391.5 130.3 390.4L132.5 392C131.9 393.4 130.9 394.4 129.5 395.3C128.3 396 126.7 396.4 124.8 396.4ZM124.8 378.4C124 378.4 123.2 378.5 122.5 378.8C121.8 379.1 121.2 379.5 120.7 380C120.2 380.5 119.8 381.2 119.5 381.9C119.2 382.6 119.1 383.4 119.1 384.3V384.6H129.9V384.2C129.9 382.5 129.4 381.1 128.5 380C127.6 378.9 126.4 378.4 124.8 378.4Z" fill="#1D1E1C"/>
        <path d="M145.3 396.4C143.9 396.4 142.7 396.2 141.6 395.7C140.5 395.2 139.6 394.5 138.8 393.6C138.1 392.7 137.5 391.6 137.1 390.4C136.7 389.2 136.5 387.7 136.5 386.1C136.5 384.5 136.7 383.1 137.1 381.8C137.5 380.5 138.1 379.5 138.8 378.6C139.5 377.7 140.5 377 141.6 376.5C142.7 376 143.9 375.8 145.3 375.8C147.3 375.8 148.8 376.2 150 377.1C151.2 377.9 152.1 379.1 152.6 380.4L150.1 381.7C149.7 380.7 149.2 379.9 148.4 379.3C147.6 378.7 146.6 378.5 145.4 378.5C144.5 378.5 143.7 378.6 143 378.9C142.3 379.2 141.7 379.6 141.3 380.1C140.9 380.6 140.5 381.2 140.3 382C140.1 382.7 140 383.5 140 384.4V387.7C140 389.4 140.5 390.8 141.4 391.9C142.3 393 143.7 393.6 145.5 393.6C148 393.6 149.7 392.5 150.8 390.2L153 391.7C152.4 393.1 151.4 394.2 150.2 395.1C149 396 147.2 396.4 145.3 396.4Z" fill="#1D1E1C"/>
        <path d="M152.902 369.1H163.502V371.7H152.902V369.1ZM156.602 395.9V376.3H159.602V395.9H156.602Z" fill="#1D1E1C"/>
        <path d="M181.901 398.1C181.901 400.1 181.101 401.6 179.501 402.5C177.901 403.4 175.501 403.9 172.401 403.9C169.301 403.9 167.101 403.5 165.801 402.6C164.501 401.8 163.801 400.6 163.801 399C163.801 397.9 164.101 397.1 164.601 396.5C165.201 395.9 165.901 395.5 166.901 395.2V394.8C165.701 394.2 165.201 393.3 165.201 392.1C165.201 391.1 165.501 390.4 166.201 389.8C166.801 389.3 167.601 388.9 168.601 388.6V388.4C167.401 387.8 166.501 387 165.901 386C165.301 385 164.901 383.8 164.901 382.4C164.901 381.4 165.101 380.5 165.401 379.7C165.801 378.9 166.301 378.1 166.901 377.5C167.501 376.9 168.301 376.4 169.201 376.1C170.101 375.8 171.101 375.6 172.201 375.6C173.601 375.6 174.801 375.9 175.901 376.4V376.1C175.901 375.3 176.101 374.7 176.401 374.2C176.801 373.7 177.301 373.4 178.101 373.4H181.001V376.1H177.301V377.4C178.001 378 178.601 378.7 179.001 379.6C179.401 380.5 179.601 381.4 179.601 382.5C179.601 383.5 179.401 384.4 179.101 385.2C178.701 386 178.201 386.8 177.601 387.4C177.001 388 176.201 388.5 175.301 388.8C174.401 389.1 173.401 389.3 172.301 389.3C171.701 389.3 171.001 389.2 170.401 389.1C169.701 389.3 169.101 389.5 168.601 389.9C168.101 390.3 167.801 390.7 167.801 391.3C167.801 391.9 168.101 392.3 168.601 392.5C169.201 392.7 169.901 392.8 170.801 392.8H175.001C177.401 392.8 179.201 393.3 180.301 394.2C181.301 395.2 181.901 396.5 181.901 398.1ZM179.001 398.3C179.001 397.5 178.701 396.9 178.101 396.4C177.501 395.9 176.401 395.7 174.901 395.7H168.401C167.201 396.3 166.601 397.1 166.601 398.4C166.601 399.3 166.901 400 167.601 400.6C168.201 401.2 169.301 401.5 170.901 401.5H173.701C175.401 401.5 176.701 401.2 177.701 400.7C178.701 400.2 179.001 399.4 179.001 398.3ZM172.201 387C173.501 387 174.501 386.7 175.301 386.1C176.101 385.5 176.401 384.5 176.401 383.2V382.1C176.401 380.8 176.001 379.8 175.301 379.2C174.501 378.6 173.501 378.3 172.201 378.3C170.901 378.3 169.901 378.6 169.101 379.2C168.301 379.8 168.001 380.8 168.001 382.1V383.2C168.001 384.5 168.401 385.5 169.101 386.1C169.901 386.7 170.901 387 172.201 387Z" fill="#1D1E1C"/>
        <path d="M196.902 392.8H196.702C196.502 393.3 196.202 393.7 196.002 394.1C195.702 394.5 195.302 394.9 194.902 395.3C194.502 395.6 193.902 395.9 193.302 396.1C192.702 396.3 192.002 396.4 191.202 396.4C189.202 396.4 187.602 395.7 186.402 394.4C185.202 393.1 184.602 391.3 184.602 388.9V376.3H187.602V388.4C187.602 391.9 189.102 393.7 192.102 393.7C192.702 393.7 193.302 393.6 193.902 393.5C194.502 393.4 195.002 393.1 195.402 392.8C195.802 392.5 196.202 392.1 196.502 391.6C196.802 391.1 196.902 390.6 196.902 389.9V376.3H199.902V395.9H196.902V392.8Z" fill="#1D1E1C"/>
        <path d="M211.499 396.4C209.699 396.4 208.099 396.1 206.899 395.4C205.699 394.7 204.599 393.8 203.699 392.6L205.899 390.9C206.699 391.9 207.499 392.6 208.399 393.1C209.299 393.6 210.399 393.9 211.699 393.9C212.999 393.9 213.999 393.6 214.699 393.1C215.399 392.5 215.799 391.8 215.799 390.7C215.799 389.9 215.599 389.3 215.099 388.7C214.599 388.2 213.699 387.8 212.399 387.6L210.799 387.4C209.899 387.3 209.099 387.1 208.299 386.8C207.499 386.5 206.899 386.2 206.299 385.7C205.699 385.3 205.299 384.7 204.999 384C204.699 383.3 204.499 382.6 204.499 381.6C204.499 380.6 204.699 379.8 204.999 379.1C205.399 378.4 205.799 377.8 206.499 377.3C207.099 376.8 207.899 376.5 208.699 376.2C209.599 376 210.499 375.8 211.499 375.8C213.099 375.8 214.399 376.1 215.499 376.6C216.599 377.2 217.499 377.9 218.299 378.9L216.299 380.7C215.899 380.1 215.199 379.5 214.399 379C213.599 378.5 212.499 378.3 211.199 378.3C209.899 378.3 208.999 378.6 208.299 379.1C207.699 379.6 207.299 380.4 207.299 381.3C207.299 382.3 207.599 383 208.299 383.4C208.899 383.8 209.899 384.1 211.099 384.3L212.599 384.5C214.799 384.8 216.299 385.5 217.199 386.4C218.099 387.3 218.599 388.5 218.599 390C218.599 391.9 217.999 393.4 216.699 394.5C215.399 395.6 213.699 396.4 211.499 396.4Z" fill="#1D1E1C"/>
        <path d="M233.102 367.8H236.102V379.5H236.302C236.802 378.3 237.502 377.4 238.502 376.8C239.502 376.2 240.602 375.9 242.002 375.9C243.202 375.9 244.302 376.1 245.302 376.6C246.302 377.1 247.102 377.8 247.802 378.7C248.502 379.6 249.002 380.7 249.402 381.9C249.802 383.1 250.002 384.6 250.002 386.2C250.002 387.8 249.802 389.2 249.402 390.5C249.002 391.8 248.502 392.8 247.802 393.7C247.102 394.6 246.302 395.3 245.302 395.8C244.302 396.3 243.202 396.5 242.002 396.5C239.302 396.5 237.402 395.3 236.302 392.9H236.102V396.1H233.102V367.8ZM241.102 393.7C242.802 393.7 244.202 393.2 245.202 392.1C246.202 391 246.702 389.6 246.702 387.8V384.4C246.702 382.6 246.202 381.2 245.202 380.1C244.202 379 242.902 378.5 241.102 378.5C240.402 378.5 239.802 378.6 239.102 378.8C238.502 379 237.902 379.3 237.502 379.6C237.002 379.9 236.702 380.3 236.402 380.8C236.102 381.3 236.002 381.8 236.002 382.3V389.6C236.002 390.2 236.102 390.8 236.402 391.3C236.702 391.8 237.002 392.2 237.502 392.6C238.002 393 238.502 393.2 239.102 393.4C239.802 393.6 240.502 393.7 241.102 393.7Z" fill="#1D1E1C"/>
        <path d="M266.499 392.8H266.299C266.099 393.3 265.799 393.7 265.599 394.1C265.299 394.5 264.899 394.9 264.499 395.3C264.099 395.6 263.499 395.9 262.899 396.1C262.299 396.3 261.599 396.4 260.799 396.4C258.799 396.4 257.199 395.7 255.999 394.4C254.799 393.1 254.199 391.3 254.199 388.9V376.3H257.199V388.4C257.199 391.9 258.699 393.7 261.699 393.7C262.299 393.7 262.899 393.6 263.499 393.5C264.099 393.4 264.599 393.1 264.999 392.8C265.399 392.5 265.799 392.1 266.099 391.6C266.399 391.1 266.499 390.6 266.499 389.9V376.3H269.499V395.9H266.499V392.8Z" fill="#1D1E1C"/>
        <path d="M275.102 395.9V376.3H278.102V379.9H278.302C278.702 379 279.302 378.1 280.202 377.4C281.102 376.7 282.402 376.3 284.002 376.3H285.202V379.3H283.402C281.802 379.3 280.502 379.6 279.502 380.2C278.602 380.8 278.102 381.6 278.102 382.5V395.8L275.102 395.9Z" fill="#1D1E1C"/>
        <path d="M288.5 367.8H291.5V379.5H291.7C292.2 378.3 292.9 377.4 293.9 376.8C294.9 376.2 296 375.9 297.4 375.9C298.6 375.9 299.7 376.1 300.7 376.6C301.7 377.1 302.5 377.8 303.2 378.7C303.9 379.6 304.4 380.7 304.8 381.9C305.2 383.1 305.4 384.6 305.4 386.2C305.4 387.8 305.2 389.2 304.8 390.5C304.4 391.8 303.9 392.8 303.2 393.7C302.5 394.6 301.7 395.3 300.7 395.8C299.7 396.3 298.6 396.5 297.4 396.5C294.7 396.5 292.8 395.3 291.7 392.9H291.5V396.1H288.5V367.8ZM296.6 393.7C298.3 393.7 299.7 393.2 300.7 392.1C301.7 391 302.2 389.6 302.2 387.8V384.4C302.2 382.6 301.7 381.2 300.7 380.1C299.7 379 298.4 378.5 296.6 378.5C295.9 378.5 295.3 378.6 294.6 378.8C294 379 293.4 379.3 293 379.6C292.5 379.9 292.2 380.3 291.9 380.8C291.6 381.3 291.5 381.8 291.5 382.3V389.6C291.5 390.2 291.6 390.8 291.9 391.3C292.2 391.8 292.5 392.2 293 392.6C293.5 393 294 393.2 294.6 393.4C295.3 393.6 296 393.7 296.6 393.7Z" fill="#1D1E1C"/>
        <path d="M321.999 392.8H321.799C321.599 393.3 321.299 393.7 321.099 394.1C320.799 394.5 320.399 394.9 319.999 395.3C319.599 395.6 318.999 395.9 318.399 396.1C317.799 396.3 317.099 396.4 316.299 396.4C314.299 396.4 312.699 395.7 311.499 394.4C310.299 393.1 309.699 391.3 309.699 388.9V376.3H312.699V388.4C312.699 391.9 314.199 393.7 317.199 393.7C317.799 393.7 318.399 393.6 318.999 393.5C319.599 393.4 320.099 393.1 320.499 392.8C320.899 392.5 321.299 392.1 321.599 391.6C321.899 391.1 321.999 390.6 321.999 389.9V376.3H324.999V395.9H321.999V392.8Z" fill="#1D1E1C"/>
        <path d="M334.001 395.9C332.901 395.9 332.101 395.6 331.601 395C331.101 394.4 330.801 393.7 330.801 392.7V367.7H333.801V393.2H336.701V395.9H334.001ZM333.701 398.4C334.301 398.4 334.801 398.6 335.101 398.9C335.401 399.2 335.601 399.7 335.601 400.2V400.6C335.601 401.5 335.401 402.3 334.901 403.1C334.401 403.9 333.901 404.6 333.301 405.2H331.101C331.601 404.7 332.001 404.2 332.301 403.8C332.601 403.4 332.801 402.9 333.001 402.3C332.601 402.2 332.201 402 332.001 401.7C331.801 401.4 331.701 401 331.701 400.6V400.2C331.701 399.6 331.901 399.2 332.201 398.9C332.601 398.6 333.101 398.4 333.701 398.4Z" fill="#1D1E1C"/>
        <path d="M352.402 392.8H352.202C352.002 393.3 351.702 393.7 351.502 394.1C351.202 394.5 350.802 394.9 350.402 395.3C350.002 395.6 349.402 395.9 348.802 396.1C348.202 396.3 347.502 396.4 346.702 396.4C344.702 396.4 343.102 395.7 341.902 394.4C340.702 393.1 340.102 391.3 340.102 388.9V376.3H343.102V388.4C343.102 391.9 344.602 393.7 347.602 393.7C348.202 393.7 348.802 393.6 349.402 393.5C350.002 393.4 350.502 393.1 350.902 392.8C351.302 392.5 351.702 392.1 352.002 391.6C352.302 391.1 352.402 390.6 352.402 389.9V376.3H355.402V395.9H352.402V392.8Z" fill="#1D1E1C"/>
        <path d="M366.999 396.4C365.199 396.4 363.599 396.1 362.399 395.4C361.199 394.7 360.099 393.8 359.199 392.6L361.399 390.9C362.199 391.9 362.999 392.6 363.899 393.1C364.799 393.6 365.899 393.9 367.199 393.9C368.499 393.9 369.499 393.6 370.199 393.1C370.899 392.5 371.299 391.8 371.299 390.7C371.299 389.9 371.099 389.3 370.599 388.7C370.099 388.2 369.199 387.8 367.899 387.6L366.299 387.4C365.399 387.3 364.599 387.1 363.799 386.8C362.999 386.5 362.399 386.2 361.799 385.7C361.199 385.3 360.799 384.7 360.499 384C360.199 383.3 359.999 382.6 359.999 381.6C359.999 380.6 360.199 379.8 360.499 379.1C360.899 378.4 361.299 377.8 361.999 377.3C362.599 376.8 363.399 376.5 364.199 376.2C365.099 376 365.999 375.8 366.999 375.8C368.599 375.8 369.899 376.1 370.999 376.6C372.099 377.2 372.999 377.9 373.799 378.9L371.799 380.7C371.399 380.1 370.699 379.5 369.899 379C369.099 378.5 367.999 378.3 366.699 378.3C365.399 378.3 364.499 378.6 363.799 379.1C363.199 379.6 362.799 380.4 362.799 381.3C362.799 382.3 363.099 383 363.799 383.4C364.399 383.8 365.399 384.1 366.599 384.3L368.099 384.5C370.299 384.8 371.799 385.5 372.699 386.4C373.599 387.3 374.099 388.5 374.099 390C374.099 391.9 373.499 393.4 372.199 394.5C370.899 395.6 369.299 396.4 366.999 396.4Z" fill="#1D1E1C"/>
        <path d="M400.702 392.8H400.502C400.302 393.3 400.002 393.7 399.802 394.1C399.502 394.5 399.102 394.9 398.702 395.3C398.302 395.6 397.702 395.9 397.102 396.1C396.502 396.3 395.802 396.4 395.002 396.4C393.002 396.4 391.402 395.7 390.202 394.4C389.002 393.1 388.402 391.3 388.402 388.9V376.3H391.402V388.4C391.402 391.9 392.902 393.7 395.902 393.7C396.502 393.7 397.102 393.6 397.702 393.5C398.302 393.4 398.802 393.1 399.202 392.8C399.602 392.5 400.002 392.1 400.302 391.6C400.602 391.1 400.702 390.6 400.702 389.9V376.3H403.702V395.9H400.702V392.8Z" fill="#1D1E1C"/>
        <path d="M409.199 376.3H412.199V379.5H412.399C412.899 378.4 413.599 377.5 414.399 376.9C415.299 376.2 416.399 375.9 417.899 375.9C419.899 375.9 421.499 376.6 422.699 377.9C423.899 379.2 424.499 381 424.499 383.4V396H421.499V383.9C421.499 380.4 419.999 378.6 417.099 378.6C416.499 378.6 415.899 378.7 415.299 378.8C414.699 379 414.199 379.2 413.799 379.5C413.299 379.8 412.999 380.2 412.699 380.7C412.399 381.2 412.299 381.7 412.299 382.4V396H409.199V376.3Z" fill="#1D1E1C"/>
        <path d="M439.801 376.3H442.801V379.5H443.001C443.501 378.4 444.201 377.5 445.001 376.9C445.901 376.2 447.001 375.9 448.501 375.9C450.501 375.9 452.101 376.6 453.301 377.9C454.501 379.2 455.101 381 455.101 383.4V396H452.101V383.9C452.101 380.4 450.601 378.6 447.701 378.6C447.101 378.6 446.501 378.7 445.901 378.8C445.301 379 444.801 379.2 444.401 379.5C443.901 379.8 443.601 380.2 443.301 380.7C443.001 381.2 442.901 381.7 442.901 382.4V396H439.801V376.3Z" fill="#1D1E1C"/>
        <path d="M468.101 396.4C466.801 396.4 465.501 396.2 464.501 395.7C463.401 395.2 462.501 394.5 461.701 393.6C460.901 392.7 460.301 391.6 459.901 390.4C459.501 389.2 459.301 387.7 459.301 386.2C459.301 384.7 459.501 383.2 459.901 382C460.301 380.7 460.901 379.7 461.701 378.8C462.501 377.9 463.401 377.2 464.501 376.7C465.601 376.2 466.801 376 468.101 376C469.401 376 470.601 376.2 471.601 376.7C472.601 377.2 473.501 377.8 474.301 378.7C475.001 379.5 475.601 380.5 476.001 381.7C476.401 382.9 476.601 384.1 476.601 385.5V386.9H462.501V387.8C462.501 388.6 462.601 389.4 462.901 390.1C463.201 390.8 463.501 391.4 464.001 392C464.501 392.5 465.101 393 465.801 393.3C466.501 393.6 467.301 393.8 468.301 393.8C469.501 393.8 470.601 393.5 471.501 392.9C472.401 392.3 473.101 391.5 473.601 390.4L475.801 392C475.201 393.4 474.201 394.4 472.801 395.3C471.601 396 470.001 396.4 468.101 396.4ZM468.101 378.4C467.301 378.4 466.501 378.5 465.801 378.8C465.101 379.1 464.501 379.5 464.001 380C463.501 380.5 463.101 381.2 462.801 381.9C462.501 382.6 462.401 383.4 462.401 384.3V384.6H473.201V384.2C473.201 382.5 472.701 381.1 471.801 380C470.901 378.9 469.701 378.4 468.101 378.4Z" fill="#1D1E1C"/>
        <path d="M494.9 395.9C493.8 395.9 493 395.6 492.5 395C492 394.4 491.7 393.6 491.7 392.7V379H488.5V376.3H490.3C491 376.3 491.4 376.2 491.6 375.9C491.8 375.6 492 375.2 492 374.5V370.9H494.7V376.3H499V379H494.7V393.2H498.7V395.9H494.9Z" fill="#1D1E1C"/>
        <path d="M504.402 371.7C503.702 371.7 503.302 371.5 503.002 371.2C502.702 370.9 502.602 370.5 502.602 370V369.5C502.602 369 502.702 368.6 503.002 368.3C503.302 368 503.802 367.8 504.402 367.8C505.102 367.8 505.502 368 505.802 368.3C506.102 368.6 506.202 369 506.202 369.5V370C506.202 370.5 506.102 370.9 505.802 371.2C505.502 371.5 505.102 371.7 504.402 371.7ZM502.902 376.3H505.902V395.9H502.902V376.3Z" fill="#1D1E1C"/>
        <path d="M511.402 367.8H514.402V385.6H514.602L517.602 382.3L523.102 376.3H526.802L519.502 384.1L527.502 396H523.802L517.302 386L514.402 389V396H511.402V367.8Z" fill="#1D1E1C"/>
        <path d="M545.102 395.9C544.002 395.9 543.102 395.6 542.602 395C542.102 394.4 541.802 393.6 541.702 392.7H541.502C541.102 393.9 540.402 394.8 539.402 395.4C538.402 396 537.202 396.3 535.902 396.3C533.802 396.3 532.202 395.8 531.102 394.7C529.902 393.6 529.402 392.2 529.402 390.4C529.402 388.6 530.102 387.1 531.402 386.1C532.802 385.1 534.902 384.6 537.702 384.6H541.602V382.7C541.602 381.3 541.202 380.2 540.502 379.5C539.702 378.8 538.602 378.4 537.002 378.4C535.802 378.4 534.802 378.7 534.002 379.2C533.202 379.7 532.502 380.4 532.002 381.3L530.202 379.6C530.702 378.5 531.602 377.6 532.702 376.9C533.902 376.2 535.302 375.8 537.102 375.8C539.502 375.8 541.302 376.4 542.602 377.5C543.902 378.7 544.602 380.3 544.602 382.4V393.2H546.802V395.9H545.102ZM536.402 393.8C537.202 393.8 537.902 393.7 538.502 393.5C539.102 393.3 539.702 393.1 540.102 392.7C540.602 392.4 540.902 392 541.202 391.6C541.502 391.2 541.602 390.7 541.602 390.2V387H537.602C535.902 387 534.602 387.3 533.802 387.8C533.002 388.3 532.602 389 532.602 390V390.8C532.602 391.8 532.902 392.5 533.602 393C534.202 393.5 535.202 393.8 536.402 393.8Z" fill="#1D1E1C"/>
        <path d="M551.902 371.7C551.202 371.7 550.802 371.5 550.502 371.2C550.202 370.9 550.102 370.5 550.102 370V369.5C550.102 369 550.202 368.6 550.502 368.3C550.802 368 551.302 367.8 551.902 367.8C552.602 367.8 553.002 368 553.302 368.3C553.602 368.6 553.702 369 553.702 369.5V370C553.702 370.5 553.602 370.9 553.302 371.2C553.002 371.5 552.602 371.7 551.902 371.7ZM550.402 376.3H553.402V395.9H550.402V376.3Z" fill="#1D1E1C"/>
        <path d="M561.099 396.4C560.299 396.4 559.699 396.2 559.299 395.8C558.899 395.4 558.699 394.9 558.699 394.2V393.7C558.699 393 558.899 392.5 559.299 392.1C559.699 391.7 560.299 391.5 561.099 391.5C561.899 391.5 562.499 391.7 562.899 392.1C563.299 392.5 563.499 393 563.499 393.7V394.2C563.499 394.9 563.299 395.4 562.899 395.8C562.499 396.2 561.899 396.4 561.099 396.4ZM560.299 388.9L559.399 377.1V369.4H562.699V377.1L561.799 388.9H560.299Z" fill="#1D1E1C"/>
      </svg>

      <img id="hint" src="./assets/stenders_slime_hand.svg" alt="">
    </div>
    <a class="button" href="https://www.stenders-cosmetics.lv/kas-jauns?___store=lv">Noteikti izmēģini!</a>
  </div>
  <div id="loader"></div>
</body>

</html>
