@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700&display=swap&subset=cyrillic');


* {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    // background: url('/assets/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    width: 100%;

    overflow: hidden;
    // min-height: 100vh;

    .sizing-700x480 {

        svg {
            width: 50%;
        }

        .button {
            font-size: 19px;
        }

        #hint {
            width: 15%;
            transform: translate(20px, 0);
        }

    }
    .sizing-1060x470 {

        svg {
            width: 35%;
        }

        .button {
            font-size: 19px;
        }

        @media only screen and (max-width: 500px) {
            #hint {
                bottom: 30px;
                right: 50px;
                width: 80px;
            }
        }
    }
    .sizing-600x800 {

        .contain {
            padding: 40px;
        }

        svg {
            width: 70%;
        }

        .button {
            font-size: 22px;
        }

        #hint {
            width: 20%;
            transform: translate(-100px, 100px);
        }
    }
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
}

svg {
    width: 32%;
    min-width: 340px;
    height: auto;

    pointer-events: none;
}

.contain {
    position: relative;
    z-index: 2;
    padding: 60px;

    width: 100%;
    height: 100%;
}

small {
    font-size: 0.5em;
    font-weight: normal;
    line-height: 1;
}

.button {
    display: inline-block;
    padding: 15px 23px;
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    line-height: 1;
    color: #fff;
    background: #1D1E1C;

    font-size: 22px;
    font-size: 2vw;

    font-weight: 400;
    text-transform: uppercase;

    margin-top: 20px;

    text-decoration: none;

    &:hover {
        color: #5a3d89;
        background: #fff;
    }
}

#hint {
    position: absolute;
    bottom: 50px;
    right: 100px;
    width: 100px;
}

#loader, #hint {
    transition: opacity 1000ms ease;
    pointer-events: none;
}
#hint {
    transition: opacity 500ms 300ms ease;
}

body {

    &.loaded {

        #loader {
            opacity: 0;
        }
    }

    &.mousemoved {
        #hint {
            opacity: 0;
        }
    }
}
